<div class="row">
    <div class="col">
      <div class="card" style="width: 28rem;">
        <div class="card-body">
          <form #vetForm="ngForm" (ngSubmit)="addVet()">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="vetService.selectedVet._id">
            <div class="form-group">
              <label for="vetName">Nombre</label>
              <input type="text" class="form-control" id="vetName" name="name" placeholder="Ingresa tu nombre"
                #name='ngModel' [(ngModel)]="vetService.selectedVet.name">
            </div>
            <div class="form-group">
              <label for="vetLastName">Apellido</label>
              <input type="text" class="form-control" id="vetLastName" name="lastName"
                placeholder="Ingresa tu apellido" #lastName='ngModel'
                [(ngModel)]="vetService.selectedVet.lastName">
            </div>
            <button type="button" class="btn btn-success mr-2" (click)="addVet(vetForm)">Guardar</button>
            <button type="button" class="btn btn-primary" (click)="resetForm(vetForm)">Limpiar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </thead>
            <tbody>
              <app-loading class="content" *ngIf="loading"></app-loading>
              <tr *ngFor="let vet of vetService.vets">
                <td>{{vet.name}}</td>
                <td>{{vet.lastName}}</td>
                <td><a (click)="editVet(vet)"><i class="fas fa-user-edit"></i></a></td>
                <td><a (click)="deleteVet(vet._id)"><i class="fas fa-trash-alt"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  