<div class="row">
  <div class="col">
    <div class="card" style="width: 28rem;">
      <div class="card-body">
        <form #employeeForm="ngForm" (ngSubmit)="addEmployee()">
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
          <div class="form-group">
            <label for="employeeName">Nombre</label>
            <input type="text" class="form-control" id="employeeName" name="name" placeholder="Ingresa tu nombre"
              #name='ngModel' [(ngModel)]="employeeService.selectedEmployee.name">
          </div>
          <div class="form-group">
            <label for="employeeLastName">Apellido</label>
            <input type="text" class="form-control" id="employeeLastName" name="lastName"
              placeholder="Ingresa tu apellido" #lastName='ngModel'
              [(ngModel)]="employeeService.selectedEmployee.lastName">
          </div>
          <button type="button" class="btn btn-success mr-2" (click)="addEmployee(employeeForm)">Guardar</button>
          <button type="button" class="btn btn-primary" (click)="resetForm(employeeForm)">Limpiar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </thead>
          <tbody>
            <app-loading class="content" *ngIf="loading"></app-loading>
            <tr *ngFor="let employee of employeeService.employees">
              <td>{{employee.name}}</td>
              <td>{{employee.lastName}}</td>
              <td><a (click)="editEmployee(employee)"><i class="fas fa-user-edit"></i></a></td>
              <td><a (click)="deleteEmployee(employee._id)"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
