<div class="mx-auto" style="width: 425px;">
<div class="card" style="width: 28rem;">
  <div class="card-body">
    <form #employeeForm="ngForm" (ngSubmit)="addEmployee()">
      <div class="form-group">
        <label for="employeeName">Nombre</label>
        <input type="text" class="form-control" id="employeeName" name="name" placeholder="Ingresa tu nombre" #name='ngModel' [(ngModel)]="employeeService.selectedEmployee.name">
      </div>
      <div class="form-group">
        <label for="employeeLastName">Apellido</label>
        <input type="text" class="form-control" id="employeeLastName" name="lastName" placeholder="Ingresa tu apellido" #lastName='ngModel' [(ngModel)]="employeeService.selectedEmployee.lastName">
      </div>
      <button type="button" class="btn btn-success mr-2" (click)="addEmployee(employeeForm)">Guardar</button>
      <button type="button" class="btn btn-primary" (click)="resetForm(employeeForm)">Limpiar</button>
    </form>
  </div>
</div>
</div>