<div class="row">
  <div class="col">
    <div class="card" style="width: 28rem;">
      <div class="card-body">
        <form #geographicalAreaForm="ngForm" (ngSubmit)="addGeographicalArea()">
          <input type="hidden" name="_id" #id="ngModel"
            [(ngModel)]="geographicalAreaService.geographicalAreaSelected._id">
          <div class="form-group">
            <label for="geographicalAreaName">Nombre de la zona geografica</label>
            <input type="text" class="form-control" id="geographicalAreaName" name="geographicalAreaName"
              placeholder="Ingrese la zona geografica" #name='ngModel'
              [(ngModel)]="geographicalAreaService.geographicalAreaSelected.name">
          </div>
          <hr>
          <div class="form-row">
            <!-- Select first Employee -->
            <div class="form-group col-md-6">
              <label for="firstEmployeeSelected" for="employeeName">Empleado asigando</label>
              <select class="form-control" name="firstEmployeeSelected" id="firstEmployeeSelected"
                [(ngModel)]="geographicalAreaService.geographicalAreaSelected.firstEmployee">
                <option value="">Selecciona...</option>
                <option *ngFor='let employee of employeeService.employees' [ngValue]="employee._id">
                  {{employee.name}} {{employee.lastName}}
                </option>
              </select>
            </div>
            <!-- Select second Employee -->
            <div class="form-group col-md-6">
              <label for="secondEmployeeSelected" for="employeeNameSecond">Empleado asigando</label>
              <select class="form-control" name="secondEmployeeSelected" id="secondEmployeeSelected"
                [(ngModel)]="geographicalAreaService.geographicalAreaSelected.secondEmployee">
                <option value="">Selecciona...</option>
                <option *ngFor='let employee of employeeService.employees' [ngValue]="employee._id">
                  {{employee.name}} {{employee.lastName}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <!-- Select third Employee -->
            <div class="form-group col-md-6">
              <label for="thirdEmployeeSelected" for="employeeNameThird">Empleado asigando</label>
              <select class="form-control" name="thirdEmployeeSelected" id="thirdEmployeeSelected"
                [(ngModel)]="geographicalAreaService.geographicalAreaSelected.thirdEmployee">
                <option value="">Selecciona...</option>
                <option *ngFor='let employee of employeeService.employees' [ngValue]="employee._id">
                  {{employee.name}} {{employee.lastName}}
                </option>
              </select>
            </div>
            <!-- Select fourth Employee -->
            <div class="form-group col-md-6">
              <label for="fourthEmployeeSelected" for="employeeNameFourth">Empleado asigando</label>
              <select class="form-control" name="fourthEmployeeSelected" id="fourthEmployeeSelected"
                [(ngModel)]="geographicalAreaService.geographicalAreaSelected.fourthEmployee">
                <option value="">Selecciona...</option>
                <option *ngFor='let employee of employeeService.employees' [ngValue]="employee._id">
                  {{employee.name}} {{employee.lastName}}
                </option>
              </select>
            </div>
          </div>
          <hr>
          <!-- Select Animals -->
          <div class="form-row">
          <div class="form-group col-md-6" *ngFor="let animal of animalService.animals; index as i">
            <label for="{{'animalSelected'+ i}}">Animal asigando</label>
            <input type="text" class="form-control" id="{{'animalSelected'+ i}}" name="{{'animalSelected'+ i}}"
              #animalName='ngModel'
              [(ngModel)]="animal.name" placeholder="{{animal.name}}" readonly>
          </div>
        </div>
          <div class="mt-3">
            <button type="button" class="btn btn-success mr-2"
              (click)="addGeographicalArea(geographicalAreaForm)">Guardar</button>
            <button type="button" class="btn btn-primary" (click)="resetForm(geographicalAreaForm)">Limpiar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <th scope="col">Nombre</th>
            <th scope="col">Empleado</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </thead>
          <tbody>
            <app-loading class="content" *ngIf="loading"></app-loading>
            <tr *ngFor="let geo of geographicalAreaService.geographicalArea">
              <td>{{geo.name}}</td>              
              <td>
                <ng-container *ngFor="let firstEmployee of geo.firstEmployee | keyvalue">
                  <ng-container *ngIf="firstEmployee.key === 'name' || firstEmployee.key === 'lastName'">
                    <span>
                      {{firstEmployee.value}}
                    </span>
                  </ng-container>
                </ng-container>
                <ng-container *ngFor="let secondEmployee of geo.secondEmployee | keyvalue">
                  <ng-container *ngIf="secondEmployee.key === 'name' || secondEmployee.key === 'lastName'">
                    <span>
                      {{secondEmployee.value}}
                    </span>
                  </ng-container>
                </ng-container>
                <ng-container *ngFor="let thirdEmployee of geo.thirdEmployee | keyvalue">
                  <ng-container *ngIf="thirdEmployee.key === 'name' || thirdEmployee.key === 'lastName'">
                    <span>
                      {{thirdEmployee.value}}
                    </span>
                  </ng-container>
                </ng-container>
                <ng-container *ngFor="let fourthEmployee of geo.fourthEmployee | keyvalue">
                  <ng-container *ngIf="fourthEmployee.key === 'name' || fourthEmployee.key === 'lastName'">
                    <span>
                      {{fourthEmployee.value}}
                    </span>
                  </ng-container>
                </ng-container>
              </td>
              <td><a (click)="editGeographicalArea(geo)"><i class="fas fa-user-edit"></i></a></td>
              <td><a (click)="deleteGeographicalArea(geo._id)"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
