<div class="row">
  <div class="col">
    <div class="card" style="width: 28rem;">
      <div class="card-body">
        <form #dateForm="ngForm" (ngSubmit)="addDate()">
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="dateService.selectedDate._id">
          <div class="form-group">
            <label for="dateDescription">Descripcion</label>
            <input type="text" class="form-control" id="dateDescription" name="description"
              placeholder="Ingresa la descripcion" #description='ngModel'
              [(ngModel)]="dateService.selectedDate.description">
          </div>
          <div class="form-row">
            <!-- Select first Employee -->
            <div class="form-group col-md-6">
              <label for="animalSelected" for="animalName">Animal asigando</label>
              <select class="form-control" name="animalSelected" id="animalSelected"
                [(ngModel)]="dateService.selectedDate.animal">
                <option value="">Selecciona...</option>
                <option *ngFor='let animal of animalService.animals' [ngValue]="animal._id">
                  {{animal.name}}
                </option>
              </select>
            </div>
            <!-- Select second Employee -->
            <div class="form-group col-md-6">
              <label for="vetSelected" for="vatName">Veterinario asigando</label>
              <select class="form-control" name="vetSelected" id="vetSelected"
                [(ngModel)]="dateService.selectedDate.vet">
                <option value="">Selecciona...</option>
                <option *ngFor='let vet of vetService.vets' [ngValue]="vet._id">
                  {{vet.name}} {{vet.lastName}}
                </option>
              </select>
            </div>
          </div>
          <button type="button" class="btn btn-success mr-2" (click)="addDate(dateForm)">Guardar</button>
          <button type="button" class="btn btn-primary" (click)="resetForm(dateForm)">Limpiar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <th scope="col">Animal</th>
            <th scope="col">Veterinario</th>
            <th scope="col">Descripción</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </thead>
          <tbody>
            <app-loading class="content" *ngIf="loading"></app-loading>
            <tr *ngFor="let date of dateService.dates">
              <td>
                <ng-container *ngFor="let animal of date.animal | keyvalue">
                  <ng-container *ngIf="animal.key === 'name'">
                    <span>
                      {{animal.value}}
                    </span>
                  </ng-container>
                </ng-container>
              </td>
              <td>
                <ng-container *ngFor="let vet of date.vet | keyvalue">
                  <ng-container *ngIf="vet.key === 'name' || vet.key === 'lastName'">
                    <span>
                      {{vet.value}}
                    </span>
                  </ng-container>
                </ng-container>
              </td>
              <td>{{date.description}}</td>
              <td><a (click)="editDate(date)"><i class="fas fa-user-edit"></i></a></td>
              <td><a (click)="deleteDate(date._id)"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
